@import "tailwindcss";
@import "tw-animate-css";
@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist";
/** <-- depends on your project structure */

/* ========================================== DARK MODE VARIANT */
@custom-variant dark (&:is(.dark *));

/* ========================================== DESIGN TOKENS (SHADCN) */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

/* ========================================== ROOT VARIABLES */
:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  /* custom */
  --cus-color-primary-50: #f6f8fd;
  --cus-color-primary-500: #624cf5;
  --cus-color-coral-500: #15bf59;
  --cus-color-grey-50: #f6f6f6;
  --cus-color-grey-400: #afafaf;
  --cus-color-grey-500: #757575;
  --cus-color-grey-600: #545454;
}

/* ========================================== DARK MODE VARIABLES */
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* ========================================== BASE STYLES */
@layer base {
  * {
    @apply border-border outline-ring/50;
    list-style: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-poppins);
  }
}
.filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%)
    hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* /////////////////////////////////////////////////////////// */
@utility flex-between {
  @apply flex items-center justify-between;
}

@utility wrapper {
  @apply w-full max-w-7xl p-5 md:px-10 lg:mx-auto xl:px-4;
}
@utility flex-center {
  @apply flex items-center justify-center;
}
/* ========================================== CUSTOM UTILITIES */
@layer utilities {
  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[40px] leading-[48px] font-bold lg:text-[48px] lg:leading-[60px] xl:text-[58px] xl:leading-[74px];
  }
  .h2-bold {
    @apply text-[32px] leading-[40px] font-bold lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }
  .h2-medium {
    @apply text-[32px] leading-[40px] font-medium lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }
  .h3-bold {
    @apply text-[28px] leading-[36px] font-bold md:text-[36px] md:leading-[44px];
  }
  .h3-medium {
    @apply text-[28px] leading-[36px] font-medium md:text-[36px] md:leading-[44px];
  }
  .h4-medium {
    @apply text-[32px] leading-[40px] font-medium;
  }
  .h5-bold {
    @apply text-[28px] leading-[36px] font-bold;
  }
  .p-bold-24 {
    @apply text-[24px] leading-[36px] font-bold;
  }
  .p-medium-24 {
    @apply text-[24px] leading-[36px] font-medium;
  }
  .p-regular-24 {
    @apply text-[24px] leading-[36px] font-normal;
  }
  .p-bold-20 {
    @apply text-[20px] leading-[30px] font-bold tracking-[2%];
  }
  .p-semibold-20 {
    @apply text-[20px] leading-[30px] font-semibold tracking-[2%];
  }
  .p-medium-20 {
    @apply text-[20px] leading-[30px] font-medium;
  }
  .p-regular-20 {
    @apply text-[20px] leading-[30px] font-normal tracking-[2%];
  }
  .p-semibold-18 {
    @apply text-[18px] leading-[28px] font-semibold tracking-[2%];
  }
  .p-medium-18 {
    @apply text-[18px] leading-[28px] font-medium;
  }
  .p-regular-18 {
    @apply text-[18px] leading-[28px] font-normal tracking-[2%];
  }
  .p-bold-16 {
    @apply text-[16px] leading-[24px] font-bold;
  }
  .p-medium-16 {
    @apply text-[16px] leading-[24px] font-medium;
  }
  .p-regular-16 {
    @apply text-[16px] leading-[24px] font-normal;
  }
  .p-semibold-14 {
    @apply text-[14px] leading-[20px] font-semibold;
  }
  .p-medium-14 {
    @apply text-[14px] leading-[20px] font-medium;
  }
  .p-regular-14 {
    @apply text-[14px] leading-[20px] font-normal;
  }
  .p-medium-12 {
    @apply text-[12px] leading-[20px] font-medium;
  }

  /* SHADCN OVERRIDES */
  .select-field {
    @apply h-[54px] w-full rounded-full border-none bg-[#F6F6F6] px-5 py-3 text-[16px] leading-[24px] font-normal placeholder:text-[#757575] focus:ring-transparent focus-visible:ring-transparent;
  }
  .input-field {
    @apply h-[54px] rounded-full border-none bg-[#F6F6F6] px-4 py-3 text-[16px] leading-[24px] font-normal placeholder:text-[#757575] focus-visible:ring-transparent focus-visible:ring-offset-0;
  }
  .textarea {
    @apply flex flex-1 border-none bg-[#F6F6F6] px-5 py-3 text-[16px] leading-[24px] font-normal placeholder:text-[#757575] focus-visible:ring-transparent;
  }
  .button {
    @apply h-[54px] rounded-full text-[16px] leading-[24px] font-normal;
  }
  .select-item {
    @apply cursor-pointer py-3 focus:bg-[#F6F8FD];
  }
  .toggle-switch {
    @apply bg-gray-300;
  }
}

/* ========================================== CLERK STYLES */
.cl-logoImage {
  height: 38px;
}
.cl-userButtonBox {
  flex-direction: row-reverse;
}
.cl-userButtonOuterIdentifier {
  font-size: 16px;
}
.cl-userButtonPopoverCard {
  right: 4px;
}
.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #705cf7;
}

/* ========================================== REACT-DATEPICKER STYLES */
.datePicker {
  width: 100%;
}
.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
  margin-left: 16px;
}
.react-datepicker__day--selected {
  background-color: #624cf5;
  color: #ffffff;
  border-radius: 4px;
}
.react-datepicker__time-list-item--selected {
  background-color: #624cf5;
}

/* //////////////// CONFIG FILE ////////////////////////// */

/* ========================================== CUS COLORS */

.cus-color-primary {
  color: hsl(var(--primary));
}
.cus-color-primary-50 {
  color: #f6f8fd;
}
.cus-color-primary-500 {
  color: #624cf5;
}
.cus-color-primary-foreground {
  color: hsl(var(--primary-foreground));
}

.cus-color-coral-500 {
  color: #15bf59;
}

.cus-color-grey-50 {
  color: #f6f6f6;
}
.cus-color-grey-400 {
  color: #afafaf;
}
.cus-color-grey-500 {
  color: #757575;
}
.cus-color-grey-600 {
  color: #545454;
}

.cus-color-black {
  color: #000000;
}
.cus-color-white {
  color: #ffffff;
}

.cus-color-border {
  color: hsl(var(--border));
}
.cus-color-input {
  color: hsl(var(--input));
}
.cus-color-ring {
  color: hsl(var(--ring));
}
.cus-color-foreground {
  color: hsl(var(--foreground));
}

.cus-color-secondary {
  color: hsl(var(--secondary));
}
.cus-color-secondary-foreground {
  color: hsl(var(--secondary-foreground));
}

.cus-color-destructive {
  color: hsl(var(--destructive));
}
.cus-color-destructive-foreground {
  color: hsl(var(--destructive-foreground));
}

.cus-color-muted {
  color: hsl(var(--muted));
}
.cus-color-muted-foreground {
  color: hsl(var(--muted-foreground));
}

.cus-color-accent {
  color: hsl(var(--accent));
}
.cus-color-accent-foreground {
  color: hsl(var(--accent-foreground));
}

.cus-color-popover {
  color: hsl(var(--popover));
}
.cus-color-popover-foreground {
  color: hsl(var(--popover-foreground));
}

.cus-color-card {
  color: hsl(var(--card));
}
.cus-color-card-foreground {
  color: hsl(var(--card-foreground));
}

/* ========================================== CUS FONT FAMILY */
.cus-font-poppins {
  font-family: var(--font-poppins);
}

/* ========================================== CUS BACKGROUND IMAGES */
.cus-bg-dotted-pattern {
  background-image: url("/assets/images/dotted-pattern.png");
}
.cus-bg-hero-img {
  background-image: url("/assets/images/hero.png");
}

/* ========================================== CUS BORDER RADIUS */
.cus-rounded-lg {
  border-radius: var(--radius);
}
.cus-rounded-md {
  border-radius: calc(var(--radius) - 2px);
}
.cus-rounded-sm {
  border-radius: calc(var(--radius) - 4px);
}

/* ========================================== CUS ANIMATIONS */
@keyframes cus-accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}
@keyframes cus-accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.cus-animate-accordion-down {
  animation: cus-accordion-down 0.2s ease-out;
}
.cus-animate-accordion-up {
  animation: cus-accordion-up 0.2s ease-out;
}
